<launch>

    <node pkg="second_coursework" type="check_rules_node.py" name="check_rules_node" output="screen">
    </node>

    <node pkg="second_coursework" type="find_object_node.py" name="find_object_node" output="screen">
    </node>

    <node pkg="second_coursework" type="worker_node.py" name="worker_node" output="screen">
    </node>

</launch>